<!DOCTYPE html>
<html>

<head>
  <title>Unit 2 Assessment></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>To Do List</h1>
  <% if (todos.length == 0) { %>
  <h3>There are no To Do items yet!</>
    <% } else { %>
    <ul>
      <% todos.forEach( (t, idx) => { %>
      <li>
        <%= `${t.todo} - ${t.done === false ? 'Not Done' : 'Done'}` %>
        <form action="/<%= idx %>?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
        </form>
      </li>
      <%  }) %>
    </ul>
    <% } %>

    <hr>
    <form action="/" method="POST">
      <input type="text" required name="todo">
      <button type="submit">ADD TO DO</button>
    </form>
</body>
</html>